<link rel="StyleSheet" href="../../../../../css/login.css" />
<link rel="StyleSheet" href="login.css" />
<div class="login-wrapper">
    <div id="login-alert" class="alert alert-error" style="display:none;">
    </div>
    <div>
        <div id="login-linkedInHeading">Login with LinkedIn</div>
        <a href="#" id="login-linkedIn"></a>
		<div>
			<a href="#" id="register-linkedIn">Register with LinkedIn</a>
		</div>
    </div>
    <div>
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="username">Username</label>
                <div class="controls">
                    <input type="text" id="username" placeholder="Username" required="required">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                    <input type="password" id="password" placeholder="Password" required="required">
                </div>
            </div>
            <div class="control-group" style="margin-top: 10px">
                <div class="controls">
                    <button type="submit" class="btn" id="loginButton">Sign in</button>
                </div>
            </div>
            
        </form>
        <div style="font-size: 11px; position: relative; left: 225px; top: -62px; margin-right: 220px;">
			<div style=""><a href="#" id="register">Register</a></div>
			<div style=""><a href="#" id="resetPassword">Reset Password</a></div>
        </div>
        </div>
    </div>